{% extends "base.html" %}


{% block title %} Users List {% endblock %}


{% block content %}

<!-- {{u.id}} -->
<div>
    <img src="{{u.image_url}}" alt="{{u.fullname}}" width="300" height="300">
    
    <h1>{{ u.full_name }}</h1>

    <form>
      <button formaction="/users/{{ u.id }}/edit"
              formmethod="GET">Edit
      </button>
      <button formaction="/users/{{ u.id }}/delete"
              formmethod="POST">Delete
      </button>
    </form>
    
</div>

<div>        
        <!-- User posts goes here -->
        <h2> Posts</h2>
        <ul>
        {% for post in u.posts %}
        <li>
        <a href="/posts/{{post.id}}">{{post.title}} <small>{{post.friendly_date}}</small></a>
        
        </li>

        {% endfor %}
        </ul>


        <form>
        <button formaction="/users/{{u.id}}/posts/new"
        formmethod="GET">Add Post</button>
        </form>
</div>


{% endblock %}
